$black: #10151b;
$pink: #d9255e;
$white: #ffffff;

$museo-100: 'Museo Sans Cyrl 100';
$museo-300: 'Museo Sans Cyrl 300';
$museo-500: 'Museo Sans Cyrl 500';
$museo-700: 'Museo Sans Cyrl 700';
$museo-900: 'Museo Sans Cyrl 900';