html, body {
	margin: 0;
	padding: 0;
	font-family: $museo-300;
	font-size: 16px;
	background-color: $black;
	height: 100vh;
}

@mixin animate($property1, $property2) {
	transition: $property1 2.7s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s, $property2 2.7s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
}

* {
	&.animate-default {
		@include animate(transform, opacity);
		opacity: 0;
		transform: translateX(-75px);
	}
}

.container {
	position: relative;
}

.show-works {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	transform: translateX(-47px) rotate(90deg);
	transform-origin: right bottom;
	padding-top: 20px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4px;
		width: 0;
		background-color: $white;
		@include animate(width, background-color);
	}
	&__link {
		display: block;
		opacity: 0.8;
		color: $white;
		font-family: $museo-300;
		font-size: 18px;
		text-transform: uppercase;
		transform: translate(0, -75px);
	}
}

@media screen and (min-width: 768px) {
	.show-works {
		padding-top: 40px;
		right: auto;
		left: 0;
		transform-origin: left bottom;
		transform: translateX(67px) rotate(-90deg);
		&__link {
			text-align: right;
		}
	}
}

@media screen and (min-width: 992px) {
	.show-works {
		width: 300px;
	}
}

@media screen and (min-width: 1199px) {
	.show-works {
		transform: translateX(81px) rotate(-90deg);
		padding-top: 45px;
		&__link {
			font-size: 24px;
		}
	}
}
