@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-100.eot');
	src: local('MuseoSansCyrl-100'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-100.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-700.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mueo Sans Cyrl/MuseoSansCyrl-900.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}