header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	.container-fluid {
		padding: 25px;
	}
	.logo_container {
		display: flex;
		justify-content: flex-start;
		transform: translateX(0);
		&.animate {
			opacity: 1;
		}
		img {
			width: 30px;
		}
	}
}

@media screen and (min-width: 768px) {
	header {
		.container-fluid {
			padding: 40px 50px;
		}
		.logo_container {
			img {
				width: 40px;
			}
		}
	}
}