@import "fonts";
@import "const";
@import "default";
@import "header";

main, section, .container-fluid {
	height: 100%;
}

.main-page {
	.main-section {
		&.animate {
			.block {
				.dots_background {
					transform: translateX(0);
					opacity: 1;
				}
				.main_text_cont {
					.title, .sub_title {
						transform: translateX(0);
						opacity: 1;
					}
				}
				.statue_cont {
					opacity: 1;
				}
			}
			.bottom-socials {
				.social-wrap {
					opacity: 0.5;
				}
				.copyright-text {
					opacity: 1;
				}
			}
			.show-works {
				&:before {
					width: 100%;
					background-color: #d9255e;
				}
				&__link {
					transform: translate(0, 0);
					opacity: 1;
				}
			}
		}

		.row {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
		.block {
			&.left {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
			}
			.dots_background {
				width: 280px;
				height: 280px;
				background: url("../images/background_dots.png") no-repeat center;
				background-size: contain;
				z-index: 0;
			}
			.main_text_cont {
				position: absolute;
				top: 10px;
				left: 45px;
				.title {
					color: $white;
					font-size: 40px;
					font-family: $museo-700;
					text-transform: uppercase;
					margin-bottom: 0;
				}
				.sub_title {
					color: $white;
					font-size: 20px;
					font-family: $museo-100;
					margin-bottom: 0;
				}
			}
			.statue_cont {
				position: relative;
				width: 300px;
				margin: 0 auto;
				z-index: 1;

				transform: translateX(0);

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		.bottom-socials {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			padding: 0 15px;
			.social-wrap {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-bottom: 20px;
				transform: translateX(0);
				&__link {
					display: block;
					margin-right: 40px;
					transition: opacity 0.3s ease-out;
					&:hover {
						opacity: 1;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.copyright-text {
				color: $white;
				font-family: $museo-300;
				font-size: 16px;
				margin-bottom: 0;
				text-align: center;
				transform: translateX(0);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.main-page {
		.main-section {
			.block {
				&.left {
					top: 0;
					right: 0;
					left: auto;
					bottom: auto;
					padding: 0;
				}
				.dots_background {
					width: 545px;
					height: 545px;
				}
				.main_text_cont {
					top: auto;
					left: 0;
					bottom: 130px;
					.title {
						font-size: 60px;
					}
					.sub_title {
						font-size: 30px;
					}
				}
				.statue_cont {
					width: 440px;
					margin: 0 0 0 auto;
				}
			}
			.bottom-socials {
				.social-wrap {
					&__link {
						margin-right: 95px;
					}
				}
				.copyright-text {
					font-size: 20px;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.main-page {
		.main-section {
			.block {
				&.left {
					top: 30px;
					right: auto;
					left: 0;
					bottom: auto;
					padding: 0;
				}
				.dots_background {
					width: 500px;
					height: 500px;
				}
				.statue_cont {
					width: 400px;
					margin: 0 0 0 auto;
				}
			}
			.bottom-socials {
				left: 0;
				flex-direction: row;
				justify-content: space-between;
				padding: 0 50px;
				.social-wrap {
					margin-bottom: 0;
					&__link {
						margin-right: 55px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1199px) {
	.main-page {
		.main-section {
			.container-fluid {
				padding: 0 6% 0 11%;
			}

			.block {
				&.left {
					top: 50%;
					right: auto;
					left: 0;
					bottom: auto;
					padding: 0;
					transform: translateY(-50%);
				}
				.dots_background {
					width: 515px;
					height: 515px;
					margin-left: 60px;
				}
				.main_text_cont {
					top: 50%;
					bottom: auto;
					transform: translateY(-50%);
					.title {
						font-size: 90px;
					}
					.sub_title {
						font-size: 40px;
					}
				}
				.statue_cont {
					transform: translateX(0);
					width: 60%;
					margin: 0 0 0 auto;
				}
			}
			.bottom-socials {
				bottom: 45px;
				padding: 0 50px;
				.social-wrap {
					&__link {
						margin-right: 40px;
					}
				}
			}
		}
	}
}