@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 900";
  src: url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/Mueo Sans Cyrl/MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  background-color: #10151b;
  height: 100vh;
}

*.animate-default {
  transition: transform 2.7s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s, opacity 2.7s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
  opacity: 0;
  transform: translateX(-75px);
}

.container {
  position: relative;
}

.show-works {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  transform: translateX(-47px) rotate(90deg);
  transform-origin: right bottom;
  padding-top: 20px;
}
.show-works:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  width: 0;
  background-color: #ffffff;
  transition: width 2.7s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s, background-color 2.7s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
}
.show-works__link {
  display: block;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Museo Sans Cyrl 300";
  font-size: 18px;
  text-transform: uppercase;
  transform: translate(0, -75px);
}

@media screen and (min-width: 768px) {
  .show-works {
    padding-top: 40px;
    right: auto;
    left: 0;
    transform-origin: left bottom;
    transform: translateX(67px) rotate(-90deg);
  }
  .show-works__link {
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .show-works {
    width: 300px;
  }
}
@media screen and (min-width: 1199px) {
  .show-works {
    transform: translateX(81px) rotate(-90deg);
    padding-top: 45px;
  }
  .show-works__link {
    font-size: 24px;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header .container-fluid {
  padding: 25px;
}
header .logo_container {
  display: flex;
  justify-content: flex-start;
  transform: translateX(0);
}
header .logo_container.animate {
  opacity: 1;
}
header .logo_container img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  header .container-fluid {
    padding: 40px 50px;
  }
  header .logo_container img {
    width: 40px;
  }
}
main, section, .container-fluid {
  height: 100%;
}

.main-page .main-section.animate .block .dots_background {
  transform: translateX(0);
  opacity: 1;
}
.main-page .main-section.animate .block .main_text_cont .title, .main-page .main-section.animate .block .main_text_cont .sub_title {
  transform: translateX(0);
  opacity: 1;
}
.main-page .main-section.animate .block .statue_cont {
  opacity: 1;
}
.main-page .main-section.animate .bottom-socials .social-wrap {
  opacity: 0.5;
}
.main-page .main-section.animate .bottom-socials .copyright-text {
  opacity: 1;
}
.main-page .main-section.animate .show-works:before {
  width: 100%;
  background-color: #d9255e;
}
.main-page .main-section.animate .show-works__link {
  transform: translate(0, 0);
  opacity: 1;
}
.main-page .main-section .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-page .main-section .block.left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.main-page .main-section .block .dots_background {
  width: 280px;
  height: 280px;
  background: url("../images/background_dots.png") no-repeat center;
  background-size: contain;
  z-index: 0;
}
.main-page .main-section .block .main_text_cont {
  position: absolute;
  top: 10px;
  left: 45px;
}
.main-page .main-section .block .main_text_cont .title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Museo Sans Cyrl 700";
  text-transform: uppercase;
  margin-bottom: 0;
}
.main-page .main-section .block .main_text_cont .sub_title {
  color: #ffffff;
  font-size: 20px;
  font-family: "Museo Sans Cyrl 100";
  margin-bottom: 0;
}
.main-page .main-section .block .statue_cont {
  position: relative;
  width: 300px;
  margin: 0 auto;
  z-index: 1;
  transform: translateX(0);
}
.main-page .main-section .block .statue_cont img {
  width: 100%;
  height: 100%;
}
.main-page .main-section .bottom-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 0 15px;
}
.main-page .main-section .bottom-socials .social-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  transform: translateX(0);
}
.main-page .main-section .bottom-socials .social-wrap__link {
  display: block;
  margin-right: 40px;
  transition: opacity 0.3s ease-out;
}
.main-page .main-section .bottom-socials .social-wrap__link:hover {
  opacity: 1;
}
.main-page .main-section .bottom-socials .social-wrap__link:last-child {
  margin-right: 0;
}
.main-page .main-section .bottom-socials .copyright-text {
  color: #ffffff;
  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .main-page .main-section .block.left {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    padding: 0;
  }
  .main-page .main-section .block .dots_background {
    width: 545px;
    height: 545px;
  }
  .main-page .main-section .block .main_text_cont {
    top: auto;
    left: 0;
    bottom: 130px;
  }
  .main-page .main-section .block .main_text_cont .title {
    font-size: 60px;
  }
  .main-page .main-section .block .main_text_cont .sub_title {
    font-size: 30px;
  }
  .main-page .main-section .block .statue_cont {
    width: 440px;
    margin: 0 0 0 auto;
  }
  .main-page .main-section .bottom-socials .social-wrap__link {
    margin-right: 95px;
  }
  .main-page .main-section .bottom-socials .copyright-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .main-page .main-section .block.left {
    top: 30px;
    right: auto;
    left: 0;
    bottom: auto;
    padding: 0;
  }
  .main-page .main-section .block .dots_background {
    width: 500px;
    height: 500px;
  }
  .main-page .main-section .block .statue_cont {
    width: 400px;
    margin: 0 0 0 auto;
  }
  .main-page .main-section .bottom-socials {
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
  .main-page .main-section .bottom-socials .social-wrap {
    margin-bottom: 0;
  }
  .main-page .main-section .bottom-socials .social-wrap__link {
    margin-right: 55px;
  }
}
@media screen and (min-width: 1199px) {
  .main-page .main-section .container-fluid {
    padding: 0 6% 0 11%;
  }
  .main-page .main-section .block.left {
    top: 50%;
    right: auto;
    left: 0;
    bottom: auto;
    padding: 0;
    transform: translateY(-50%);
  }
  .main-page .main-section .block .dots_background {
    width: 515px;
    height: 515px;
    margin-left: 60px;
  }
  .main-page .main-section .block .main_text_cont {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  .main-page .main-section .block .main_text_cont .title {
    font-size: 90px;
  }
  .main-page .main-section .block .main_text_cont .sub_title {
    font-size: 40px;
  }
  .main-page .main-section .block .statue_cont {
    transform: translateX(0);
    width: 60%;
    margin: 0 0 0 auto;
  }
  .main-page .main-section .bottom-socials {
    bottom: 45px;
    padding: 0 50px;
  }
  .main-page .main-section .bottom-socials .social-wrap__link {
    margin-right: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
